<p></p>
<p></p>
<p><br></p>
<div class="ui grid container">
    <div class="row">
        <div class="eight wide column" [ngClass]="{'grey': !hideContent}">
            <h2><span *ngIf ="!hideContent">Shipping Address</span><span *ngIf ="hideContent">Payment Method:</span></h2>
            <p *ngIf ="hideContent">Check / Money order</p>
            <div *ngIf ="hideContent"><input type="checkbox" checked> <label></label><span>My billing and shipping address are the same</span></div>
            <div>{{userData?.firstname}} {{userData?.lastname}}<br/>
                {{userData?.street[0]}}<br/>
                {{userData?.city}}<br/>
                {{userData?.country}}<br/>
                {{userData?.telephone}}</div>
        </div>
        <div class="eight wide column" [ngClass]="{'teal': hideContent}">
            <h2>Order Summary</h2>
            <div *ngIf ="hideContent">
              <div class="ui divider"></div>
              <div class="ui grid container">
                  <div class="row">
                    <div class="four wide column">
                      <div>Cart Subtotal</div>
                      <p></p>
                      <div>Shipping</div>
                      <div class="ui divider"></div>
                      <div>Order Total</div>
                    </div>
                    <div class="four wide column">
                      <div>{{total | currency}}</div>
                      <p></p>
                      <div>{{shippingData.amount | currency}}</div>
                      <div class="ui divider"></div>
                      <div>${{shippingData.amount + total }}</div>
                    </div>
                </div>
              </div>
            </div>
            <div class="ui accordion" #accordion>
              <div class="title">
                <i class="dropdown icon"></i>
                 {{customerCart?.items_qty}} Items in Cart
              </div>
              <div class="content">
                  <div *ngFor="let item of products;let i = index">
                		<div>{{item.name}}</div>
                		<div>Quantity: {{item.qty}}</div>
                		<div>${{item.price * item.qty}}</div>
                    <div class="ui divider"></div>
                	</div>
              </div>
            </div>
        </div>
    </div>
    <!-- 
    <div class="row">
        <div class="eight wide column" *ngIf ="!hideContent">
            <h2>Shipping Methods</h2>
            <table class="ui compact celled definition table">
              <tbody>
                <tr>
                  <td class="collapsing">
                    <div class="ui">
                      <input type="checkbox" checked> <label></label>
                    </div>
                  </td>
                  <td>{{shippingData?.amount}}</td>
                  <td>{{shippingData?.method_title}}</td>
                  <td>{{shippingData?.carrier_title}}</td>
                </tr>
              </tbody>
              </table>
        </div>
    </div> -->
    <div class="row">
      <div class="sixteen wide column">
        <a routerLink="/order" button class="ui primary button" *ngIf ="!hideContent">
          Continue
        </a>
        <a button class="ui primary button" *ngIf ="hideContent" routerLink="/">
          Place Order
        </a>
      </div>
    </div>
</div>
