<div class="ui grid container">
	<div class="ui eight wide column">
		<h2>Login</h2>
		<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" class="ui large form" novalidate>
		  <div class="ui stacked segment">
		    <div class="field">
		      <div class="ui left icon input">
		        <i class="user icon"></i>
		        <input type="text" name="email" placeholder="E-mail address" [(ngModel)]="model.username" #username="ngModel" required>
		        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
		      </div>
		    </div>
		    <div class="field">
		      <div class="ui left icon input">
		        <i class="lock icon"></i>
		        <input type="password" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required>
		        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
		      </div>
		    </div>
		    <button [disabled]="loading" class="ui fluid large teal submit button">Login</button>
		  </div>

		  <div class="ui error message"></div>

		</form>
	</div>
</div>