<ul class="ui breadcrumb">
	<li class="section"><a href="/">Home</a><i class="right angle icon divider"></i></li>
	<li *ngFor="let breadcrumb of breadcrumbs">
	    <a [routerLink]="[breadcrumb.url, breadcrumb.params]">{{ breadcrumb.label }}</a>
	</li>
</ul>