<!--<div class="ui pointing menu">
    <a class="active item">
      Home
    </a>
    <a class="item">
      Messages
    </a>
    <a class="item">
      Friends
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="ui segment">
    <p></p>
  </div>
-->
<div class="menu-widget">
    <div class="ui secondary menu">
      <span [routerLinkActive]="['active']">
        <a [routerLink]="['/home']" class="item">
          New Arrivals
        </a>
      </span>
      <span [routerLinkActive]="['active']">
        <a [routerLink]="['/productlist/14']" class="item">
          Jackets
        </a>
      </span>
      <span [routerLinkActive]="['active']">
      <a [routerLink]="['/productlist/2']" class="item">Hoodies</a>
      </span>
      <span [routerLinkActive]="['active']">
      <a [routerLink]="['/productlist/4']" class="item">Bags</a>
      </span>
      <span [routerLinkActive]="['active']">
      <a [routerLink]="['/productlist/5']" class="item">Gear</a>
      </span>
    </div>
  </div>