<div class="fluid card noResults" *ngIf="itemsEmpty">
    <!--  added if no value chosed to remove cart -->
    <div class="container">
        <div>
            <i class="warning icon"></i>
            <strong>Choose an item to delete</strong>
        </div>
    </div>
</div>
<form id="form-validate" #cartForm="ngForm" class="form form-cart ui grid container" novalidate="novalidate">
    <input name="form_key" type="hidden">
    <div class="sixteen wide column">
        <p><br></p>
                <h2 class="center">
                  Shopping Cart
                </h2>
                <table id="shopping-cart-table" class="ui celled table">
            <thead>
                <tr>
                    <th class="col item" scope="col"><input type="checkbox" name="all" [(ngModel)]="deSelect"  (click)="checkAll($event)" (change)="isSelected = !isSelected"></th>
                    <th class="col item" scope="col"><span>Item</span></th>
                    <th class="col price" scope="col"><span>Qty</span></th>
                    <th class="col qty" scope="col"><span>Price</span></th>
                </tr>
            </thead>
            <tbody>
            	<tr *ngFor="let item of products;let i = index">
                    <td><input type="checkbox" name="item" [(ngModel)]="chooseCart[i]" (change)="checkValue(chooseCart[i],item)"
                            #chooseCart="ngModel" [checked]="isSelected"></td>
            		<td>
                  <div class="ui four column grid">
                    <div class="column">
                          <a routerLink="/pdp/{{item.sku}}"><img src="{{item?.imgSrc}}" width="80"></a>
                    </div>
                      <div class="three column">
                          <a routerLink="/pdp/{{item.sku}}">{{item.name}}</a><br>
                          <div class="delete" (click)="delete(item)"><i class="trash icon"></i></div>
                      </div>
                    </div>
                </td>
                <td><quantity [quantity]="item.qty" (itemCount) = "updateQty($event, item.item_id)"></quantity></td>
            		<td>{{item.price | currency}}</td>
            	</tr>
            </tbody>
            <tfoot>
            	<tr>
            		<th><a class="action continue" routerLink="/" title="Continue Shopping">
		                <span>Continue Shopping</span></a></th>
            		<th>
            	<div class="cart main actions content" *ngIf="products?.length > 0">

		                <button type="reset" name="update_cart_action" data-cart-empty="" [disabled]="products?.length=='0'" value="empty_cart" title="Clear Shopping Cart" class="ui action clear button secondary" id="empty_cart_button" (click)="clearCart(deSelect)">
      		            <span>Clear Shopping Cart</span>
      		        </button>
	            <a class="ui button primary action content" routerLink="/checkout">Checkout</a>
		    </div>
				</th>
        <th colspan="2">
          
        </th>
			</tr>
            </tfoot>
           </table>
            </div>
</form>
