<div class="body-wrapper">
    
    <div class="big header item logo"><a class="item" routerLink="/"><i class="paw icon"></i> Bull Dog</a></div>
    <div class="ui menu" *ngIf ="routeHidden">
        <a class="item" *ngIf ="!isLoggedIn()" routerLink="/login"><i class="user icon"></i>Login</a>
        <a class="item" *ngIf ="isLoggedIn()" routerLink="/" (click)="logout()"><i class="user icon"></i>Logout</a>
        <div class="right menu">
            <div class="item" *ngIf="!router.url.indexOf('/productlist/')">
                <div class="ui icon input">
                    <input type="text" placeholder="Search..." [(ngModel)]="searchInput"> <i class="search link icon" (click)="searchProducts(searchInput)"></i> </div>
            </div>
            <a class="ui item" *ngIf="!isCartHidden()" routerLink="/cart" >{{counter}} <i class="shop link icon"></i> </a>
        </div>
    </div>
    
    <nav *ngIf ="routeHidden"></nav>
    <ng-progress></ng-progress>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>