<div class="ui grid" style="margin: 20px 0;">
</div>
<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="five wide column">
        <h4 class="ui inverted header">LOCATE STORE</h4>
        <p>
          <i class="marker link icon"></i> The Store Locator is designed to help you find the closest store near you</p>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">ACCOUNT</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">My Account</a>
          <a href="#" class="item"> Check Order</a>
          <a href="#" class="item">Wish List</a>
          <a href="#" class="item">Gift Register</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">CUSTOMER SERVICES</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Contact Us</a>
          <a href="#" class="item">Helps</a>
          <a href="#" class="item">Site Map</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">ABOUT</h4>
        <div class="ui inverted link list">
          <a href="#" class="item"> About Us</a>
          <a href="#" class="item">Privacy</a>
          <a href="#" class="item">Tearms</a>
          <a href="#" class="item">Jobs</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui vertical footer segment">
  <div class="ui container">
    <div class="ui divided equal height grid">
      <div class="seven wide column">
        <h4 class="ui header">Arctic Fox | 2018 Born Group. All right reserved</h4>
      </div>
      <div class="four column">
        <div class="floated right">
          <i class="facebook link icon"></i>
          <i class="twitter link icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>