<!--<div *ngIf="active" id="spinner" class="ui container">
    <img src="./images/spinner.gif" alt="spinner">
</div>-->

<div *ngIf="active" class="ui active centered inline loader"></div>
<!--<div *ngIf="active" class="ui segment">
  <div class="ui active dimmer">
    <div class="ui text loader">Loading</div>
  </div>
  <p></p>
</div>-->

<!--<div *ngIf="active" class="ui page dimmer">
  <div class="content">
    <div class="center"><img src="./images/spinner.gif" alt="spinner"></div>
  </div>
</div>-->
