<div class="ui container">
    <div class="ui grid container">
        <div class="eight wide column">
            <div class="ui ">
                <div class="ui grid container">
                  <div class="three wide column">
                    <div class="column" *ngFor="let image of item.media_gallery_entries">
                      <div></div>
                        <div class="ui fluid card image">
                            <img src="http://localhost/magento2ng5/pub/media/catalog/product/{{image.file}}" (click)="showThumb($event)">
                        </div>
                      </div>
                  </div>
                    <div class="twelve wide column">
                        <div class="ui image" > <img #preview src="http://localhost/magento2ng5/pub/media/catalog/product/{{item.media_gallery_entries[0].file}}"> </div>
                    </div>
            </div>
                <!--<div class="ui image" *ngFor="let image of item.media_gallery_entries">
                    <img src="http://localhost/magento2/pub/media/catalog/product/{{image.file}}">
                </div>-->
                <!--<div class="ui image" > <img src="http://localhost/magento2/pub/media/catalog/product/{{item.media_gallery_entries[0].file}}"> </div>-->
            </div>
        </div>
        <div class="eight wide column">
            <div class="content">
                <breadcrumb></breadcrumb>
                <h3 class="ui header">{{item.name}}</h3>
                <hr>
                <p>Item Number: {{item.sku}}<br></p>
                <div class="ui star rating" data-rating="3"><i class="icon active"></i><i class="icon active"></i>
                    <i class="icon active"></i>
                    <i class="icon">
                    </i><i class="icon"></i></div>
                <hr>
                <div class="header">Price: <span class="red">{{item.price | currency}}</span></div>
                <div class="">Quantity: <quantity [quantity]="1" (itemCount) = "addItem($event)"></quantity></div>
                <p><br></p>
                <div class="description" [innerHTML] = "item.custom_attributes[0].value | safeHtml"></div>
            </div>
            <div class="extra content"><p><br></p></div>
            <div>
                <button class="ui secondary button" (click)="addToCart(item)">
                  Add to Cart
                </button>
            </div>
        </div>
    </div>
</div>
