<div class="ui container">
    <div class="ui grid "> 
        <div class="ui ten wide column box">
            <div class="ui grid">
                <div class="eight wide column"> <img class="ui fluid image" src="images/bottom_img.jpg" alt=""> </div>
                <div class="eight wide column"> <img class="ui fluid image" src="images/bottom_img2.jpg" alt=""> </div>
            </div>
            <div class="ui grid">
                <div class="sixteen wide column"> <img class="ui fluid image" src="images/bottom_img4.jpg" alt=""> </div>
            </div>
        </div>
        <div class="ui six wide column"> <img class="ui image " src="images/bottom_img3.jpg" alt=""> </div>
    </div>
</div>