/* You can add global styles to this file, and also import other style files */
.noResults {
    text-align:center;
    margin:20px 0 30px 0
}

.paginationCenter ul {
    text-align: center;
    padding: 30px 0;
}

.menu-widget {
    text-align: center;
    color: #575757;
    background: #f0f0f0;
    padding-bottom: 1px;
}
.body-wrapper .ui.menu {
   margin-bottom: 0;
}
.menu-widget .active {
    border-bottom: 2px solid #ff5501; 
}
.body-wrapper .menu-widget .active a{
    color:#000;
    font-weight: bold;
}
.body-wrapper a.item:hover {
    background: none !important;
}

.delete{
  font-size: 1rem;
  cursor: pointer;
}

.ui.example{
    margin: 2em 0;
}
.ui.grid > .row > .column.product{
    margin: 1em 0;
}
.ui.form .fields{
    flex-wrap: wrap;
}
.filters .field .checkbox{
    border-radius: 2px;
}
.logo{
    padding: 16px;
}
.body-wrapper .ui.menu{
    margin: 0 0;
}