<div class="ui container example">
    <div class="ui grid container">
        <div class="four wide column">
            <div class="header">Shopping Options</div>
            <div class="ui divider"></div>
            <div class="ui">
              <div class="title">
                <i class="caret down icon"></i>
                 Color
              </div>
              <div class="content">
                  <div class="ui form">
                    <div class="inline fields filters">
                    <div class="field" *ngFor="let color of colors">
                        <div class="checkbox">
                            <input type="checkbox" class="hidden" [(ngModel)]="color.checked" [value]="color.color" (change)="isChecked = !isChecked">
                        </div>
                    </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="ui divider"></div>
        </div>
        <div class="twelve wide column">
                <div class="ui grid">
                    <div class="three column row">
                        <div class="column product" *ngFor="let item of products | category : 'name' : message | color : selectedColors() | paginate: { itemsPerPage: 9, currentPage: p }">
                        <a routerLink="/pdp/{{item.sku}}" class="ui image"><img src="{{item.imgSrc}}"> </a>
                            <div class="content ui centered">
                                <div class="header">{{item.name}}</div>
                                <div class="small"><span class="red">{{item.price | currency}}</span></div>
                                <div>
                                    <button class="ui primary button" routerLink="/pdp/{{item.sku}}">More</button> <button class="ui secondary button" (click)="addToCart(item)">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <pagination-controls class="paginationCenter" (pageChange)="p = $event" *ngIf="(products | category  : 'name' : message)?.length !== 0"></pagination-controls> <!-- Pagination -->
    <div class="fluid card noResults" *ngIf="(products | category  : 'name' : message)?.length === 0"> <!-- pipe added if no results found -->
        <div class="container">
            <div>
                <i class="warning icon"></i><strong>No Results Found!</strong></div>
        </div>
    </div>
</div>
