 <div class="ui one column grid">
        <div class="column">
            <div class="ui fluid card">
                <div class="image"> <img src="/images/arctic_banner.jpg"> </div>
            </div>
        </div>
    </div>
    
    <featured></featured>
   
    <!--
 <app-product></app-product>
    <app-catalog></app-catalog>
    <div class="ui container">
        <app-catalog></app-catalog>
    </div>-->
    <div class="ui one column grid">
        <div class="column">
            <div class="ui fluid card">
                <div class="image"> <img src="/images/arctic_shop_style.jpg"> </div>
            </div>
        </div>
    </div>